@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins' sans-serif;
}
:root{
    --bg-color:#fff;
    --second-bg-color:rgb(143, 159, 160);
    --main-color:#0ef;
    --text-color:#f70000;
    --h1-color:gray;
    --h2-color:#fff;
    --shipping-color:#ff9203;
}
html{
    font-size: 65%;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
body{
    background: var(--bg-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .4s;

}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    text-shadow: 0 0 1rem var(--main-color);
    font-size: 22px;
}
#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 30rem;
    margin: 5rem;
    animation: floatimage 3s ease-in-out infinite;
}
@keyframes floatimage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(-5);
    }
}
.home-content h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--h1-color);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--text-color);
    font-weight: 700;
    text-shadow: 0 0 1rem var(--text-color);
}
.home-content h1{
    font-size: 5rem;
    color: var(--text-color);
}
.home-content h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--h1-color);
}
.home-content p{
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.1;
    color: var(--h1-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--bg-color);
    letter-spacing: .1rem;
    margin: 2rem;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
    transform: scale(1.15);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    gap: 2rem;
}
.about-img img{
    height: 30vw;
    border-radius: 10rem;
    transition: .5s;
    animation: floatimage 3s ease-in-out infinite;
}
.about-img img:hover{
    border-color: var(--main-color);
    box-shadow: 0 0 3rem var(--text-color);
}
.heading{
    text-align: center;
    font-size: 4rem;
}
.about-content h3{
    text-align: left;
    line-height: 1.2;
    color: var(--h2-color);
}
.about-content h1{
    font-size: 2.5rem;
    color: var(--h2-color);
}
.about-content p{
    font-size: 1.5rem;
    color: var(--h2-color);
}
.product h2{
    margin-bottom: 5rem;
    color: var(--second-bg-color);
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    animation: floatimage 3s ease-in-out infinite;
}
.product-container .product-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    border: .2rem solid var(--bg-color);
}
.product-container .product-box:hover{
    border-color: var(--text-color);
    transform: scale(1.02);
    box-shadow: 0 0 3rem var(--text-color);
}
.product-img img{
    height: 15rem;
}
.product-box h3{
    color: var(--h2-color);
}
.service{
    background: var(--second-bg-color);
}
.service h2{
    color: var(--bg-color);
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.s-box{
    text-align: justify;
    padding: 20px 30px;
    background: var(--bg-color);
    border-radius: 20%;
}
.s-box i{
   font-size: 5rem;
   color: var(--shipping-color);
}
.s-box h3{
    font-size: 3rem;
    color: var(--text-color);
    margin: 5px 0 10px;
}
.s-box p{
    font-size: 1.5rem;
    color: var(--h2-color);
    margin: 1rem 0 3rem;
    color: var(--second-bg-color);
}
.cta{
    background: #feeee7;
    padding: 70px 0;
    width: 66%;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
}
.cta h2{
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 2rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--h1-color);
}
.col ul li:not(:last-child){
    margin-bottom: 10px;
}
.col ul li {
    display: flex;
}
.col ul li a{
    color: var(--text-color);
    font-size: 2rem;
    display: block;
    text-transform: capitalize;
    transition: .5s;
}
.col ul li a:hover{
    color: var(--h1-color);
    transform: translateX(-12px);
}
.col h4{
    font-size: 2.5rem;
    font-weight: 700;
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .col .social a{
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    transition: .5s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--text-color);
    background: var(--bg-color);
}
.contact-text h3{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
    color: var(--second-bg-color);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0%;
    flex-wrap: wrap;
    background: var(--second-bg-color);
}
.footer-text{
    font-size: 1.6rem;
    color: var(--bg-color);
}
.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--text-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon-top a:hover{
    box-shadow: 0 0 3rem var(--text-color);
}
.footer-icon-top a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}
/* BREADPOINT */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .skill{
        padding-bottom: 7rem;
    }
    .portofolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
}
@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-conten h3{
        font-size: 2.0rem;
    }
    .home-conten h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 40vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width:35vw;
        margin-top: 4rem;
    }
    .product h2{
        margin-bottom: 3rem;
    }
    .col{
        width: 50%;
        margin-bottom: 10rem;
        margin-right:5rem;
    }
    .service-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 617px){
    .portofolio-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px){
    html{
        font-size:50%;
    }
}
@media (max-width:365px){
    .home-img img{
        width:90vw;
    }
    .about-img img{
        width: 10rem;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .service-container{
        grid-template-columns: 1fr;
    }
    .col{
        width: 50%;
        margin-bottom: 10rem;
        margin-right:5rem;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}